@model HISDemo.Models.Patient
@{
    ViewBag.Title = "Create1";
    Layout = "~/Views/Shared/_LayoutSetup.cshtml";
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/PS_newstyle/css/jquery-jvert-tabs-1.1.4.css")" />
<script type="text/javascript" src="@Url.Content("~/Content/PS_newstyle/js/jquery-jvert-tabs-1.1.4.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#vtabs4").jVertTabs({ equalHeights: false });
    });
</script>
@{
    ViewBag.Title = "Create";
}
@*<style type="text/css">
    label
    {
        width: 40%;
    }
    #red
    {
        color: Red;
    }
</style>*@
<script type="text/javascript">
    $(document).ready(function () {


        //        $("#Phone").mask("(999) 999-9999");
        //        $("#CellPhone").mask("(999) 999999");
    });

</script>
<link href="../../css/Date%20picker/datebox.min.css" rel="stylesheet" type="text/css" />
<script src="../../css/Date%20picker/datebox.min.js" type="text/javascript"></script>
<script src="../../css/Date%20picker/mousewheel.js" type="text/javascript"></script>
<link href="../../js/formDesign/validationEngine.jquery.css" rel="stylesheet" type="text/css" />
<script src="../../js/formDesign/jquery.validationEngine.js" type="text/javascript"></script>
<script src="../../js/formDesign/jquery.validationEngine-en.js" type="text/javascript"></script>
<script src="../../js/formDesign/jquery.maskedinput-1.3.js" type="text/javascript"></script>
<script type="text/javascript">
    $("#leftMenu").hide("slow");
    $(document).ready(function (e) {
        $("#leftMenu").hide("slow");
        $("#lastChild").click(function () {

            $("#leftMenu").hide("slow");
            $("#Close").show("slow");
        });
        $("#Close").click(function () {

            $("#leftMenu").show("slow");
            $("#Close").hide("slow");
        });
        $(".arrowImage").each(function () {
            $(this).click(function () {
                $(this).parent().parent().find("div").toggle("slow");
                $(this).attr("style", "webkit-transform: rotate(180deg)");
            });
        });
    });
    function Closechecked() {
        var answer = confirm("Do you really want to close window ?")
        if (answer) {
            window.close();
        }

        return false;
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {



        $("#Authorizationnumber").mask("999-999-999");
        $("#policynumber").mask("999-999-999");
    });

</script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery("#pform").validationEngine('attach', { promptPosition: "centerRight" });

    });
</script>
<style type="text/css">
    #ui-block-a
    {
        width: 25%;
        margin-left: 10%;
    }
    
    #ui-block-b
    {
        width: 60%;
    }
    #top
    {
        margin-top: 2%;
    }
    
    #border
    {
       
        padding: 12px;
    }
    #red
    {
        color: Red;
    }
</style>
@section Footer {

}
@section Header {
    <h2>
        Patient Insurance</h2>
    <a href="@Url.Action("Index", "Home")" data-role="button" data-icon="home" data-theme="e" data-iconpos="notext">
    </a><a href="@Url.Action("Index", "Home")" data-role="button" data-icon="grid" data-theme="e" data-iconpos="notext">
    </a>
   <div data-role="navbar" data-transition="flip" data-iconpos="top" data-inset="true">
                    <ul>
                        <li><a href="@Url.Action("Create", "Patient", new { Model = Model })" data-theme="a" data-icon="grid" >
                            PatientSetup</a></li>
                        <li><a href="@Url.Action("Create", "PatientAdmission", new { Model = Model })" data-theme="a" data-icon="plus" >
                            PatientAdmission</a></li>
                        <li><a href="@Url.Action("Create", "PatientInsurance", new { Model = Model })" data-theme="a" data-icon="refresh" >
                            Insurance</a></li>
                        <li><a href="@Url.Action("Create", "PatientBilling", new { Model = Model })" data-theme="a" data-icon="check" >
                            Billing</a></li>
                    </ul>
                </div>
}

<form action="/PatientInsurance/Create" id="pform" method="post">
<style type="text/css">
    #headerDiv
    {
        width: 100%;
        display: inline-block;
        border-radius: 3px;
        background-color: #333;
        border-top: 5px #0033FF solid;
        border-bottom: 5px #0033FF solid;
        margin-top: -11px;
    }
    #leftDiv
    {
        width: 20%;
        float: left;
        border-right: 1px solid #0F0;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }
    #rightDiv
    {
        position: relative;
        padding: 0px;
        margin: 0px;
        width: 78%;
        float: right;
    }
    #rightDiv h2
    {
        margin: 0px;
        padding: 0px;
    }
    #rightDiv p
    {
        margin: 0px;
        padding: 3px;
    }
</style>
<div id="headerDiv" data-role="header" data-theme="e">
    <div id="leftDiv">
        <h2>@Model.Gender</h2>
        <p>
            27 Yr.</p>
    </div>
    <div id="rightDiv">
        <span style="float: right; position: relative; vertical-align: top;">Admitted : @Model.DOA</span>
        <h2>@Model.LastName @Model.FirstName</h2>
        <p>
            Insured
        </p>
        <p>@Model.PrimaryDiagnosis</p>
    </div>
</div>
@*<div class="ui-grid-a" style="padding: 2%; background-color: Gray; margin-top: -20px;
    border-radius: 5px; color: White; font-weight: bold;">
    <div style="width: 10%;" class="ui-block-a">
        Age 12 Yr.
    </div>
    <div style="width: 90%; text-align: center;" class="ui-block-b">
        <span style="font-size: 20px;">Patient [@Model.LastName @Model.FirstName]</span><span
            style="float: right;"> DOA &nbsp;&nbsp;&nbsp; @Model.DOA</span>
    </div>
</div>*@
<div id="vtabs4">
    <div>
        <ul>
            <li><a href="#vtabs-content-a">Plan </a></li>
            <li><a href="#vtabs-content-b">Insurance </a></li>
            <li><a href="#vtabs-content-c">Plan Date </a></li>
        </ul>
    </div>
    <div>
        <div id="#vtabs-content-a">
            <div>
                <h3>
                </h3>
                <div id="border">
                    <div class="ui-grid-a">
                        <div id="ui-block-a" class="ui-block-a">
                            Company Name<span id="red">*</span>
                        </div>
                        <div id="ui-block-b" class="ui-block-b">
                            <input class="validate[required] text-input" id="CompanyName" name="CompanyName" type="text" value="@Model.CompanyName" />
                        </div>
                    </div>
                    <div id="top" class="ui-grid-a">
                        <div id="ui-block-a" class="ui-block-a">
                            Plan Name<span id="red">*</span>
                        </div>
                        <div id="ui-block-b" class="ui-block-b">
                            <input class="validate[required] text-input" id="PlanName" name="PlanName" type="text" value="@Model.PlanName" />
                        </div>
                    </div>
                    <div id="top" class="ui-grid-a">
                        <div id="ui-block-a" class="ui-block-a">
                            Plan Address
                        </div>
                        <div id="ui-block-b" class="ui-block-b">
                            @Html.EditorFor(model => model.PlanAddress)
                            @Html.ValidationMessageFor(model => model.PlanAddress)
                        </div>
                    </div>
                    <div id="top" class="ui-grid-a">
                        <div id="ui-block-a" class="ui-block-a">
                            Authorization Number<span id="red">*</span>
                        </div>
                        <div id="ui-block-b" class="ui-block-b">
                            @Html.EditorFor(model => model.Authorizationnumber)
                            @Html.ValidationMessageFor(model => model.Authorizationnumber)
                        </div>
                    </div>
                    <div id="top" class="ui-grid-a">
                        <div id="ui-block-a" class="ui-block-a">
                            Policy Number<span id="red">*</span>
                        </div>
                        <div id="ui-block-b" class="ui-block-b">
                            @Html.EditorFor(model => model.policynumber)
                            @Html.ValidationMessageFor(model => model.policynumber)
                        </div>
                    </div>
                    <div id="top" class="ui-grid-a">
                        <div id="ui-block-a" class="ui-block-a">
                            Group Number
                        </div>
                        <div id="ui-block-b" class="ui-block-b">
                            @Html.EditorFor(model => model.groupnumber)
                            @Html.ValidationMessageFor(model => model.groupnumber)
                        </div>
                    </div>
                    <div id="top" class="ui-grid-a">
                        <div id="ui-block-a" class="ui-block-a">
                            Plan Type
                        </div>
                        <div id="ui-block-b" class="ui-block-b">
                            <select data-native-menu="false" multiple="multiple" id="plantype" name="plantype">
                                <option value="">Select Your Plan</option>
                                <option value="Primary">Primary </option>
                                <option value="Secondary">Secondary </option>
                                <option value="Ternery">Ternery </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="#vtabs-content-b" style="min-height: ">
            <h3>
            </h3>
            <div id="border">
                <div class="ui-grid-a">
                    <div id="ui-block-a" class="ui-block-a">
                        Insured Name
                    </div>
                    <div id="ui-block-b" class="ui-block-b">
                        @Html.EditorFor(model => model.InsuredName)
                        @Html.ValidationMessageFor(model => model.InsuredName)
                    </div>
                </div>
                <div id="top" class="ui-grid-a">
                    <div id="ui-block-a" class="ui-block-a">
                        Insured SSN
                    </div>
                    <div id="ui-block-b" class="ui-block-b">
                        @Html.EditorFor(model => model.Insuredssn)
                        @Html.ValidationMessageFor(model => model.Insuredssn)
                    </div>
                </div>
                <div id="top" class="ui-grid-a">
                    <div id="ui-block-a" class="ui-block-a">
                        Insured DOB
                    </div>
                    <div id="ui-block-b" class="ui-block-b">
                        @Html.EditorFor(model => model.InsuredDOB)
                        @Html.ValidationMessageFor(model => model.InsuredDOB)
                    </div>
                </div>
            </div>
        </div>
        <div style="min-height: " id="#vtabs-content-c">
            <div>
                <h3>
                </h3>
                <div id="border">
                    <div id="top" class="ui-grid-a">
                        <div id="ui-block-a" class="ui-block-a">
                            Plan Effective Date
                        </div>
                        <div id="ui-block-b" class="ui-block-b">
                            @Html.EditorFor(model => model.PlanEffectiveDate)
                            @Html.ValidationMessageFor(model => model.PlanEffectiveDate)
                        </div>
                    </div>
                    <div id="top" class="ui-grid-a">
                        <div id="ui-block-a" class="ui-block-a">
                            Plan Termination Date
                        </div>
                        <div id="ui-block-b" class="ui-block-b">
                            @Html.EditorFor(model => model.PlanTerminationDate)
                            @Html.ValidationMessageFor(model => model.PlanTerminationDate)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui-grid-c" data-content-theme="d" style="text-align: right;">
    <input type="reset" data-role="button" data-inline="true" data-theme="a" value="Reset" />
    <a data-role="button" data-theme="a" data-inline="true" href="#vtabs-content-b">Next</a>
    <input type="submit" data-role="button" data-inline="true" data-theme="a" value=" Save & Next" />
</div>
</form>
