@model HISDemo.Models.Patient
@{
    ViewBag.Title = "Create1";
    Layout = "~/Views/Shared/_LayoutSetup.cshtml";
    jQueryMobileTemplate.MvcApplication.HeaderFiles = "PatientInsur";
}


@section Script
{
    @Html.Partial("_Patient")
}

@section Footer {
}
@section Header {
@Html.Partial("loginInfo")
    <h2>
        <a style="text-decoration: none; color: White; font-size: 20px; font-weight: normal;"
            href="#">Patient Insurance</a></h2>
    <a id="HomeLink" href="#" title="@Url.Action("Index", "Home")"  data-icon="home"
    data-theme="b" data-iconpos="notext" style="float:right;"></a> 
   
    
}

@using (
Ajax.BeginForm("Create", "PatientInsurance", new AjaxOptions()
{
    UpdateTargetId = "Content",
    HttpMethod = "Post",
    OnComplete = "Send"


}, new { id = "pform" }))
{
@Html.Partial("_HeaderPartial", Model)
<div id="vtabs4">
    <div>
        <ul>
            <li><a href="#vtabs-content-a">Plan </a></li>
            <li><a href="#vtabs-content-b">Insurance </a></li>
            <li><a href="#vtabs-content-c">Plan Date </a></li>
        </ul>
    </div>
    <div>
        <div id="#vtabs-content-a">
            <div>
                <h3>
                </h3>
                <div id="border">
                    <div class="ui-grid-a">
                        <div id="ui-block-a" class="ui-block-a">
                            Company Name<span id="red">*</span>
                        </div>
                        <div id="ui-block-b" class="ui-block-b">
                            <input class="validate[required] text-input" id="CompanyName" name="CompanyName" type="text" value="@Model.CompanyName" />
                        </div>
                    </div>
                    <div id="top" class="ui-grid-a">
                        <div id="ui-block-a" class="ui-block-a">
                            Plan Name<span id="red">*</span>
                        </div>
                        <div id="ui-block-b" class="ui-block-b">
                            <input class="validate[required] text-input" id="PlanName" name="PlanName" type="text" value="@Model.PlanName" />
                        </div>
                    </div>
                    <div id="top" class="ui-grid-a">
                        <div id="ui-block-a" class="ui-block-a">
                            Plan Address
                        </div>
                        <div id="ui-block-b" class="ui-block-b">
                            @Html.EditorFor(model => model.PlanAddress)
                            @Html.ValidationMessageFor(model => model.PlanAddress)
                        </div>
                    </div>
                    <div id="top" class="ui-grid-a">
                        <div id="ui-block-a" class="ui-block-a">
                            Authorization Number<span id="red">*</span>
                        </div>
                        <div id="ui-block-b" class="ui-block-b">
                            @Html.EditorFor(model => model.Authorizationnumber)
                            @Html.ValidationMessageFor(model => model.Authorizationnumber)
                        </div>
                    </div>
                    <div id="top" class="ui-grid-a">
                        <div id="ui-block-a" class="ui-block-a">
                            Policy Number<span id="red">*</span>
                        </div>
                        <div id="ui-block-b" class="ui-block-b">
                            @Html.EditorFor(model => model.policynumber)
                            @Html.ValidationMessageFor(model => model.policynumber)
                        </div>
                    </div>
                    <div id="top" class="ui-grid-a">
                        <div id="ui-block-a" class="ui-block-a">
                            Group Number
                        </div>
                        <div id="ui-block-b" class="ui-block-b">
                            @Html.EditorFor(model => model.groupnumber)
                            @Html.ValidationMessageFor(model => model.groupnumber)
                        </div>
                    </div>
                    <div id="top" class="ui-grid-a">
                        <div id="ui-block-a" class="ui-block-a">
                            Plan Type
                        </div>
                        <div id="ui-block-b" class="ui-block-b">
                            <select data-native-menu="false" multiple="multiple" id="plantype" name="plantype">
                                <option value="">Select Your Plan</option>
                                <option value="Primary">Primary </option>
                                <option value="Secondary">Secondary </option>
                                <option value="Ternery">Ternery </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="#vtabs-content-b" style="min-height: ">
            <h3>
            </h3>
            <div id="border">
                <div class="ui-grid-a">
                    <div id="ui-block-a" class="ui-block-a">
                        Insured Name
                    </div>
                    <div id="ui-block-b" class="ui-block-b">
                        @Html.EditorFor(model => model.InsuredName)
                        @Html.ValidationMessageFor(model => model.InsuredName)
                    </div>
                </div>
                <div id="top" class="ui-grid-a">
                    <div id="ui-block-a" class="ui-block-a">
                        Insured SSN
                    </div>
                    <div id="ui-block-b" class="ui-block-b">
                        @Html.EditorFor(model => model.Insuredssn)
                        @Html.ValidationMessageFor(model => model.Insuredssn)
                    </div>
                </div>
                <div id="top" class="ui-grid-a">
                    <div id="ui-block-a" class="ui-block-a">
                        Insured DOB
                    </div>
                    <div id="ui-block-b" class="ui-block-b">
                        @Html.EditorFor(model => model.InsuredDOB)
                        @Html.ValidationMessageFor(model => model.InsuredDOB)
                    </div>
                </div>
            </div>
        </div>
        <div style="min-height: " id="#vtabs-content-c">
            <div>
                <h3>
                </h3>
                <div id="border">
                    <div id="top" class="ui-grid-a">
                        <div id="ui-block-a" class="ui-block-a">
                            Plan Effective Date
                        </div>
                        <div id="ui-block-b" class="ui-block-b">
                            @Html.EditorFor(model => model.PlanEffectiveDate)
                            @Html.ValidationMessageFor(model => model.PlanEffectiveDate)
                        </div>
                    </div>
                    <div id="top" class="ui-grid-a">
                        <div id="ui-block-a" class="ui-block-a">
                            Plan Termination Date
                        </div>
                        <div id="ui-block-b" class="ui-block-b">
                            @Html.EditorFor(model => model.PlanTerminationDate)
                            @Html.ValidationMessageFor(model => model.PlanTerminationDate)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui-grid-c" data-content-theme="d" style="text-align: right;">
    <input type="reset" data-role="button" data-inline="true" data-theme="a" value="Reset" />
    <input type="button" data-theme="a" value="Next" data-inline="true" id="next">
    <input type="submit" data-role="button" data-inline="true" data-theme="a" value=" Save & Next" />
</div>
}

