@{
    Page.Title = "Home Page";
    
    
}
@section Header {
   
      <h2><a style="text-decoration:none; color:Gray;" href="#">SHIVAM Healthcare Management System</a></h2>
  
}
@section Footer {



}
<div class="ui-grid-a">
    <div class="ui-block-a" style="width: 70%;">
        @Html.Partial("_GetPage")
    </div>
    <div class="ui-block-b" style="width: 30%; margin-top: 10px;">
        <ul>
            <li><a href="#">
                <img src="@Url.Content("~/img/conatct.jpg")" alt="Contant Us" title="Contact Us" /></a></li>
            <li><a href="#">
                <img src="@Url.Content("~/img/ourweb.jpg")" alt="Visit Our Website" title="Visit Our Website" /></a></li>
            <li><a href="#">
                <img src="@Url.Content("~/img/about.jpg")" alt="About Us" title="About Us" /></a></li>
            <li><a href="#">
                <img src="@Url.Content("~/img/pnp.jpg")" alt="Privacy & policy" title="Privacy & policy" /></a></li>
        </ul>
    </div>
</div>
