<script type="text/javascript">
    $(document).ready(function () {

        $(".images").show("slow");
        var eT = 0;
        var dT = 0;

        $(".images li").toggle().each(function () {
            $(this).delay(eT).show('slow');
            eT += 200;
        });


        $(".images li a").each(function () {
            $(this).click(function () {

                if ($(this).attr("id") == "New") {
                    var url = $(this).attr("title");
                    $.ajax({
                        url: '@Url.Action("AsNewPatient", "Patient")',
                        type: 'GET',
                        //async: false,
                        success: function (data) {                          
                            window.location.href = url;
                            return false;
                        }
                    });
                }
                else {
                    window.location.href = $(this).attr("title");
                    return false;
                }
            });
        });
    });

</script>


<ul class="images" style="display: none;margin:5px;">
    <li class="blue"><a style="color:White;" href="#" title="@Url.Action("Index", "Patient")">
        @*<img src="@Url.Content("~/Images/lp.jpg")" alt="Add New Patient" />*@
        Patients
    </a></li>
    <li class="green"><a style="color:White;" href="#" title="@Url.Action("Search", "Patient")">
       @* <img src="@Url.Content("~/Images/sp.jpg")" alt="Add New Patient" />*@
       Search
    </a></li>
    <li class="red"><a style="color:White;" id="New" href="#" title="@Url.Action("Create", "Patient")" >
       @* <img src="@Url.Content("~/Images/addp.jpg")" alt="Add New Patient" />*@
       Add New Patient
    </a></li>
    <li class="orange"><a href="#" style="color:White;" title="#" >
        @*<img src="@Url.Content("~/Images/pm.jpg")" alt="Add New Patient" />*@
        Medication
    </a></li>
    <li class="green"><a href="#" style="color:White;" title="#">
    Billing
        @*<img src="@Url.Content("~/Images/pb.jpg")" alt="Add New Patient" />*@
    </a></li>
    <li class="blue"><a href="#" style="color:White;" title="#">
        Scheduling
       @* <img src="@Url.Content("~/Images/pd.jpg")" alt="Add New Patient" />*@
    </a></li>
    <li class="red"><a href="#" style="color:White;" title="#">
    Discharge
        @*<img src="@Url.Content("~/Images/ps.jpg")" alt="Add New Patient" />*@
    </a></li>
    <li class="orange"><a href="#" style="color:White;" title="#">
    Other
        @*<img src="@Url.Content("~/Images/other.jpg")" alt="Add New Patient" />*@
    </a></li>
</ul>



