@model HISDemo.Models.Patient
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutSetup.cshtml";
    jQueryMobileTemplate.MvcApplication.HeaderFiles = "Billing";
   
}
@section Script
{
    @Html.Partial("_Patient")
}
@section Header {
    @Html.Partial("loginInfo")
    <h2>
        <a style="text-decoration: none; color: White; font-size: 20px; font-weight: normal;"
            href="#">Patient Billing</a></h2>
    <a id="HomeLink" href="#" title="@Url.Action("Index", "Home")"  data-icon="home"
    data-theme="b" data-iconpos="notext" style="float:right;"></a>
}
@section Footer {
}
@using (
Ajax.BeginForm("Create", "PatientBilling", new AjaxOptions()
{
    UpdateTargetId = "Content",
    HttpMethod = "Post",
    OnComplete = "Send"


}, new { id = "pform" }))
{
    @Html.Partial("_HeaderPartial", Model)
    <div>
        <div id="border">
            <div id="top" class="ui-grid-a">
                <div id="ui-block-a" class="ui-block-a">
                    Add CPT
                </div>
                <div id="ui-block-b" class="ui-block-b">
                    @Html.EditorFor(model => model.CPT)
                    @Html.ValidationMessageFor(model => model.CPT)
                </div>
            </div>
            <div id="top" class="ui-grid-a">
                <div id="ui-block-a" class="ui-block-a">
                    Add ICD
                </div>
                <div id="ui-block-b" class="ui-block-b">
                    @Html.EditorFor(model => model.ICD)
                    @Html.ValidationMessageFor(model => model.ICD)
                </div>
            </div>
            <p style="float: right;">
                <input type="button" data-theme="a" data-role="button" name="save_btn" value="Add"
                    data-inline="true" id="add" /></p>
        </div>
    </div>

    <div id="border">
        <center>
            <table border="0" width="50%" cellpadding="5" cellspacing="5" id="mytable">
                <tbody>
                    <tr>
                        <td>
                            <b>DATE</b>
                        </td>
                        <td>
                            Hospital
                        </td>
                        <td>
                            Hospitalist
                        </td>
                        <td>
                            <b>ICD</b>
                        </td>
                        <td>
                            <b>CPT</b>
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>

    <div data-role="content" data-content-theme="d" style="text-align: right;">
        <input type="reset" data-role="button" data-inline="true" data-theme="a" value="Reset" />
        <input type="Button" id="next" data-role="button" data-inline="true" data-theme="a"
            value="Next" />
        <input type="submit" data-role="button" data-inline="true" data-theme="a" value=" Save & Next" />
    </div>
}
