@model HISDemo.Models.Patient
@{
    // ViewBag.Title = "Patient";
    Layout = "~/Views/Shared/_LayoutSetup.cshtml";
    jQueryMobileTemplate.MvcApplication.HeaderFiles = "Patient";

}
@section Header{
    @Html.Partial("loginInfo")
    <h2>
        <a style="text-decoration: none; color: White; font-size: 20px; font-weight: normal;"
            href="#">New Patient</a></h2>
    <a id="HomeLink" href="#" title="@Url.Action("Index", "Home")"  data-icon="home"
    data-theme="b" data-iconpos="notext" style="float:right;"></a>
}
@section Script
{
    @Html.Partial("_Patient")
}
<script src="../../js/position.js" type="text/javascript"></script>
<script src="../../js/jquery.ui.widget.js" type="text/javascript"></script>
<script src="../../js/jquery.ui.autocomplete.js" type="text/javascript"></script>
<script src="../../js/core.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
    function log( message ) {
			$( "<div/>" ).text( message ).prependTo( "#log" );
			$( "#log" ).scrollTop( 0 );
		}
        $.ajax({
            url: "@Url.Content("~/Content/States.xml")",
            dataType: "xml",
            success: function (xmlResponse) {
                var data = $("States", xmlResponse).map(function () {
                    return {
                        value: $.trim($("State", this).text()) + ",[ " +
							($.trim($("StateCode", this).text())+"]" || "(unknown Code)"),
                        id: $("State", this).text()
                    };
                }).get();
                $("#State").autocomplete({
                    source: data,
                    minLength: 0,
                    select: function (event, ui) {
                        log(ui.item ?
							"Selected: " + ui.item.value + ", StateCode: " + ui.item.id :
							"Nothing selected, input was " + this.value);
                    }
                });
            }
        });
    });
    
    
   
</script>
@using (Ajax.BeginForm("Create", "Patient", new AjaxOptions()
{
    UpdateTargetId = "Content",
    HttpMethod = "Post",
    OnComplete = "Send"


}, new { id = "pform" }))
{
<div id="vtabs4">
    <div>
        <ul>
            <li><a href="#vtabs-content-a">Demographic</a></li>
            <li><a href="#vtabs-content-b">Contact </a></li>
            <li><a href="#vtabs-content-c">Other </a></li>
        </ul>
    </div>
    <div>
        <div id="#vtabs-content-a">
            <div id="border">
                <div class="ui-grid-a">
                    <div id="ui-block-a" class="ui-block-a">
                        Last <span id="red">*</span>
                    </div>
                    <div id="ui-block-b" class="ui-block-b">
                        <input id="LastName" class="validate[required] text-input" name="LastName" type="text"
value="@Model.LastName" />
                    </div>
                </div>
                <div id="top" class="ui-grid-a">
                    <div id="ui-block-a" class="ui-block-a">
                        First <span id="red">*</span>
                    </div>
                    <div id="ui-block-b" class="ui-block-b">
                        <input class="validate[required] text-input" id="FirstName" name="FirstName" type="text"
value="@Model.FirstName"/>
                    </div>
                </div>
                <div id="top" class="ui-grid-a">
                    <div id="ui-block-a" class="ui-block-a">
                        Middle
                    </div>
                    <div id="ui-block-b" class="ui-block-b">
                        @Html.EditorFor(model => model.MiddleName)
                        @Html.ValidationMessageFor(model => model.MiddleName)
                    </div>
                </div>
                <div id="top" class="ui-grid-a">
                    <div id="ui-block-a" class="ui-block-a">
                        DOB <span id="red">*</span>
                    </div>
                    <div id="ui-block-b" class="ui-block-b">
                        <input
name="DOB" value="@Model.DOB" class="" id="DOB" type="date" data-role="datebox"
data-options='{"mode": "flipbox"}'/>
                    </div>
                </div>
                <div id="top" class="ui-grid-a">
                    <div id="ui-block-a" class="ui-block-a">
                        Gender
                    </div>
                    <div id="ui-block-b" class="ui-block-b">
                        <select data-native-menu="false" id="Gender" name="Gender">
                            <option value="">Select Your Gender</option>
                            <option value="Male">Male </option>
                            <option value="Female">Female </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div id="#vtabs-content-b">
            <h3>
            </h3>
            <div id="border">
                <div class="ui-grid-a">
                    <div id="ui-block-a" class="ui-block-a">
                        Address 1
                    </div>
                    <div id="ui-block-b" class="ui-block-b">
                        @Html.EditorFor(model => model.Address1)
                        @Html.ValidationMessageFor(model => model.Address1)
                    </div>
                </div>
                <div id="top" class="ui-grid-a">
                    <div id="ui-block-a" class="ui-block-a">
                        Address 2
                    </div>
                    <div id="ui-block-b" class="ui-block-b">
                        @Html.EditorFor(model => model.Address2)
                        @Html.ValidationMessageFor(model => model.Address2)
                    </div>
                </div>
                <div id="top" class="ui-grid-a">
                    <div id="ui-block-a" class="ui-block-a">
                        Country
                    </div>
                    <div id="ui-block-b" class="ui-block-b">
                        <input class="text-box single-line"
id="Country" name="Country" type="text" value="@Model.Country" />
                    </div>
                </div>
                <div id="top" class="ui-grid-a">
                    <div id="ui-block-a" class="ui-block-a">
                        State<span id="red">*</span>
                    </div>
                    <div id="ui-block-b" class="ui-block-b">
                        <input class="validate[required]
text-input" id="State" name="State" type="text" placeholder="Type First Letter Of
Your State" value="@Model.State" />
                    </div>
                </div>
                <div id="top" class="ui-grid-a">
                    <div id="ui-block-a" class="ui-block-a">
                        city
                    </div>
                    <div id="ui-block-b" class="ui-block-b">
                        @Html.EditorFor(model => model.City)
                        @Html.ValidationMessageFor(model => model.City)
                    </div>
                </div>
                <div id="top" class="ui-grid-a">
                    <div id="ui-block-a" class="ui-block-a">
                        Zipcode <span id="red">*</span>
                    </div>
                    <div id="ui-block-b" class="ui-block-b">
                        <input class="validate[required,custom[integer]] text-input" id="Zip" name="Zip"
type="text" value="@Model.Zip" />
                    </div>
                </div>
                <div id="top" class="ui-grid-a">
                    <div id="ui-block-a" class="ui-block-a">
                        Phone <span id="red">*</span>
                    </div>
                    <div id="ui-block-b" class="ui-block-b">
                        @Html.EditorFor(model => model.Phone)
                        @Html.ValidationMessageFor(model => model.Phone)
                    </div>
                </div>
                <div id="top" class="ui-grid-a">
                    <div id="ui-block-a" class="ui-block-a">
                        Email <span id="red">*</span>
                    </div>
                    <div id="ui-block-b" class="ui-block-b">
                        <input
class="validate[required,custom[email]] text-input" id="Email" name="Email" type="text"
value="@Model.Email" />
                    </div>
                </div>
            </div>
        </div>
        <div id="#vtabs-content-c">
            <div>
                <h3>
                    <p>
                        @ViewBag.age</p>
                </h3>
                <div id="border">
                    <div class="ui-grid-a">
                        <div id="ui-block-a" class="ui-block-a">
                            SSN <span id="red">*</span>
                        </div>
                        <div id="ui-block-b" class="ui-block-b">
                            @Html.EditorFor(model => model.SSN)
                            @Html.ValidationMessageFor(model => model.SSN)
                        </div>
                    </div>
                    <div id="top" class="ui-grid-a">
                        <div id="ui-block-a" class="ui-block-a">
                            Cell Phone
                        </div>
                        <div id="ui-block-b" class="ui-block-b">
                            @Html.EditorFor(model => model.CellPhone)
                            @Html.ValidationMessageFor(model => model.CellPhone)
                        </div>
                    </div>
                    <div id="top" class="ui-grid-a">
                        <div id="ui-block-a" class="ui-block-a">
                            Pager Email
                        </div>
                        <div id="ui-block-b" class="ui-block-b">
                            @Html.EditorFor(model => model.PagerEmail)
                            @Html.ValidationMessageFor(model => model.PagerEmail)
                        </div>
                    </div>
                    <div id="top" class="ui-grid-a">
                        <div id="ui-block-a" class="ui-block-a">
                            Status
                        </div>
                        <div id="ui-block-b" class="ui-block-b">
                            <select data-native-menu="false" id="MaritalStatus" name="MaritalStatus">
                                <option value="">Select Your Status</option>
                                <option value="Single">Single </option>
                                <option value="Married">Married </option>
                                <option value="Widow">Widow </option>
                                <option value="Widower">Widower </option>
                                <option value="Divorced">Divorced </option>
                                <option value="Seprated">Seprated </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-role="content" data-content-theme="d" style="text-align: right;">
        <input type="reset" data-role="button" data-inline="true" data-theme="a" value="Reset" />
        <input type="Button" id="next" data-role="button" data-inline="true" data-theme="a"
            value="Next" />
        <input type="submit" data-role="button" data-inline="true" data-theme="a" value=" Save & Next" />
    </div>
</div>
}
@section Footer{
}
