@model IEnumerable<HISDemo.Models.Patient> 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
 }
@section navigation {
    <ul id="navScroller" data-theme="d" data-role="listview" data-dividertheme="a" data-filter="true">
        @for (char c = 'a'; c <= 'z'; c++)
        {
            var allP = Model.Where(p => p.FirstName.StartsWith(c.ToString()) || p.FirstName.StartsWith(c.ToString().ToUpper()));
            if (allP != null && allP.Count() > 0)
            {
            <li data-role="list-divider">@c.ToString().ToUpper()</li>
                foreach (var item in allP)
                {
            <li style="padding:5px;"><a href="#" onclick="GetDetail('@item.PatientID')">@item.LastName @item.FirstName (@item.PrimaryDiagnosis)
            </a></li>
                }

            }

        }
    </ul>
}
<div id="contentScroller" >
    <div class="rightBlock" id="detail" style="margin:0px;padding:0px;">
    </div>
</div>
