@model HISDemo.Models.Patient
@{
    ViewBag.Title = "Admission";
    Layout = "~/Views/Shared/_LayoutSetup.cshtml";
    jQueryMobileTemplate.MvcApplication.HeaderFiles = "Admission";
    DateTime now = DateTime.Today;

    DateTime birthday = Convert.ToDateTime(DateTime.Today);
    int age = now.Year - birthday.Year;
    if (now < birthday.AddYears(age))
    { age--; };
    ViewBag.age = age;
    Model.Age = Convert.ToString(ViewBag.age);

}
@section Header{
    @Html.Partial("loginInfo")
    <h2>
        <a style="text-decoration: none; color: White; font-size: 20px; font-weight: normal;"
            href="#">Patient Admission</a></h2>
    <a id="HomeLink" href="#" title="@Url.Action("Index", "Home")"  data-icon="home"
    data-theme="b" data-iconpos="notext" style="float:right;"></a>
}
@section Footer{
}
@section Script
{
    @Html.Partial("_Patient")
}
@using (
Ajax.BeginForm("Create", "PatientAdmission", new AjaxOptions()
{
    UpdateTargetId = "Content",
    HttpMethod = "Post",
    OnComplete = "Send"


}, new { id = "pform" }))
{
    @Html.Partial("_HeaderPartial", Model)
    <input type="hidden" id="patientID" name="patientID" value="@Model.PatientID" />
    <div id="vtabs4">
        <div>
            <ul>
                <li><a href="#vtabs-content-b">Admission </li>
                <li><a href="#vtabs-content-c">Other</a></li>
            </ul>
        </div>
        <div>
            <div id="border">
                <div id="#vtabs-content-b">
                    <div class="ui-grid-a" id="top">
                        <div class="ui-block-a" id="ui-block-a">
                            <label for="LastName">
                                MRN <span id="red">*</span></label>
                        </div>
                        <div class="ui-block-b" id="ui-block-b">
                            <input id="MRN" class="validate[required] text-input" name="MRN" type="text"
                value="@Model.MRN" />
                        </div>
                    </div>
                    <div class="ui-grid-a" id="top">
                        <div class="ui-block-a" id="ui-block-a">
                            <label for="FirstName">
                                DOB<span id="red">*</span></label>
                        </div>
                        <div class="ui-block-b" id="ui-block-b">
                            <input
name="DOB" value="@Model.DOB" class="validate[required,custom[date]] text-input" id="DOB" type="date" data-role="datebox"
data-options='{"mode": "flipbox"}'/>
                        </div>
                    </div>
                    <div class="ui-grid-a" id="top">
                        <div class="ui-block-a" id="ui-block-a">
                            <label for="FirstName">
                                Admission Date<span id="red">*</span></label>
                        </div>
                        <div class="ui-block-b" id="ui-block-b">
                            <input
name="DOB" value="@Model.DOA" class="validate[required,custom[date]] text-input" id="DOA" type="date" data-role="datebox"
data-options='{"mode": "flipbox"}'/>
                        </div>
                    </div>
                    <div class="ui-grid-a" id="top">
                        <div class="ui-block-a" id="ui-block-a">
                            <label for="LastName">
                                Hospital</label>
                        </div>
                        <div class="ui-block-b" id="ui-block-b">
                            @Html.EditorFor(model => model.Hospital)
                            @Html.ValidationMessageFor(model => model.Hospital)
                        </div>
                    </div>
                    <div class="ui-grid-a" id="top">
                        <div class="ui-block-a" id="ui-block-a">
                            <label for="FirstName">
                                Hospitalist</label>
                        </div>
                        <div class="ui-block-b" id="ui-block-b">
                            @Html.EditorFor(model => model.Hospitalist)
                            @Html.ValidationMessageFor(model => model.Hospitalist)
                        </div>
                    </div>
                    <div class="ui-grid-a" id="top">
                        <div class="ui-block-a" id="ui-block-a">
                            <label for="FirstName">
                                PCP<span id="red">*</span></label>
                        </div>
                        <div class="ui-block-b" id="ui-block-b">
                            @Html.EditorFor(model => model.PCP)
                            @Html.ValidationMessageFor(model => model.PCP)
                        </div>
                    </div>
                    <div class="ui-grid-a" id="top">
                        <div class="ui-block-a" id="ui-block-a">
                            <label for="RoundingHospitalist">
                                Rounding Hospitalist</label>
                        </div>
                        <div class="ui-block-b" id="ui-block-b">
                            @Html.EditorFor(model => model.RoundingHospitalist)
                            @Html.ValidationMessageFor(model => model.RoundingHospitalist)
                        </div>
                    </div>
                    <div class="ui-grid-a" id="top">
                        <div class="ui-block-a" id="ui-block-a">
                            <label for="FirstName">
                                Reffering Physician<span id="red">*</span></label>
                        </div>
                        <div class="ui-block-b" id="ui-block-b">
                            @Html.EditorFor(model => model.ReferringPhysician)
                            @Html.ValidationMessageFor(model => model.ReferringPhysician)
                        </div>
                    </div>
                    <div class="ui-grid-a" id="top">
                        <div class="ui-block-a" id="ui-block-a">
                            <label for="PrimaryDiagnosis">
                                Primary Diagnosis</label>
                        </div>
                        <div class="ui-block-b" id="ui-block-b">
                            <input class="validate[required] text-input" id="PrimaryDiagnosis" name="PrimaryDiagnosis" type="text" value="@Model.PrimaryDiagnosis" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="#vtabs-content-c">
                <div class="ui-grid-a" id="top">
                    <div class="ui-block-a" id="ui-block-a">
                        <label for="Room">
                            Room</label>
                    </div>
                    <div class="ui-block-b" id="ui-block-b">
                        @Html.EditorFor(model => model.Room)
                        @Html.ValidationMessageFor(model => model.Room)
                    </div>
                </div>
                <div class="ui-grid-a" id="top">
                    <div class="ui-block-a" id="ui-block-a">
                        <label for="Floor">
                            Floor</label>
                    </div>
                    <div class="ui-block-b" id="ui-block-b">
                        @Html.EditorFor(model => model.Floor)
                        @Html.ValidationMessageFor(model => model.Floor)
                    </div>
                </div>
                <div class="ui-grid-a" id="top">
                    <div class="ui-block-a" id="ui-block-a">
                        <label for="Floor" style="display: inline-table;">
                            Contracted to Nursing Home</label>
                    </div>
                    <div class="ui-block-b" id="ui-block-b">
                        <input type="checkbox" name="name" value="@Model.CNH"  style="margin-top:5px;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-grid-c" data-content-theme="d" style="text-align: right;">
        <input type="reset" data-role="button" data-inline="true" data-theme="a" value="Reset" />
        <input type="button" id="next" data-role="button" data-inline="true" data-theme="a"
            value="Next" />
        <input type="submit" data-role="button" data-inline="true" data-theme="a" value="Save & Next" />
    </div>
}